.landing-selling-point {
  
}
  

.half-jumbotron {
  width: 100%;
  height: 26rem;
  border-radius: 8px;
  border: 3px solid #494B49;
  background-color: #E3E3E3;
  color: #494B49;
}

#begin {
  margin: auto;
  margin-top: 50px;
}