<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <h1>Create new tournament</h1>
          <%= form_for %>
          
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>