<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/app/assets/stylesheets/tournaments/tournaments_show.css.sass">
  </head>
  <body>
    <%= render partial: @tournament %>
    <h1><%= @tournament.name %></h1>
  </body>
</html>