<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <section class="container landing-container">
    <div class="row">
      <div class="col-sm-6 col-push-6">
        <div class="landing-selling-point col-sm-12 col-xs-6">
          <h2>Selling Point 1</h2>
          <p>more information on why this site is useful and awesome.</p>
        </div>
        <div class="landing-selling-point col-sm-12 col-xs-6">
          <h2>Selling Point 2</h2>
          <p>more information on why this site is useful and awesome.</p>
        </div>
        <div class="landing-selling-point col-sm-12 center-block">
          <h2>Selling Point 3</h2>
          <p>more information on why this site is useful and awesome.</p>
        </div>
      </div>
      <div class="col-sm-6 col-pull-6">
        <h2 class="text-center">Get started now!</h2>
        <div class="half-jumbotron">
          <h4 class="text-center">Fast and easy to create!<br />Your custom tournament bracket is just clicks away!</h4>
          <%= link_to "Begin", new_tournament_path %>
        </div>
      </div>
    </div>
  </section>
</body>
</html>